html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 1215px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.hidden {
    display: none;
}
