.about-company {
    // background: url('../../img/about_company/offer-img.jpg') 0 100%/50vw no-repeat, #F1F1F1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F1F1;
}

.about-company__wrapper-img {

}
.about-company__offer-img {
    // max-width: 960px;
    // max-height: 940px;
}
.about-company__wrapper {
    padding-left: 107px;
}
.container {
}
.about-company__title {
    font-size: 48px;
    line-height: 59px;
    text-align: right;
    color: #000000;
}
.title__company-about {
    margin-bottom: 60px;
}
.about-company__desc {
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #606060;
    
    max-width: 500px;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}
.about-company-dots__wrapper {
    // position: absolute;
    // bottom: 0;
    // right: 0;
}
.slider-dots__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    padding-left: 200px;
    padding-right: 138px;
}
.slider-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #313035;
    border: 2px solid #8D8C92;

}
.active-dot {
    background-color: transparent;
}

@media (max-width: 1200px) {
    .about-company__wrapper {
        padding-left: 50px;
    }
    .about-company__title {
        font-size: 35px;
    }
    .title__company-about {
        margin-bottom: 30px;
    }
    .about-company__desc {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 500px) {
    .about-company {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .about-company__wrapper {
        padding-left: 0px;
        padding-top: 20px;
    }
    .about-company__title {
        text-align: center;
    }
    .about-company__desc {
        text-align: center;
        max-width: 350px;
    }
    .slider-dots__wrapper {
        flex-direction: row;
        column-gap: 15px;
        padding: 30px 0px;
        align-items: center;
    }
}
