.error {
    background-image: url('../img/404.png');
    background-size: cover;
}
.error__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 292px 0px;
}
.error__heading {
    font-weight: 400;
    font-size: 144px;
    line-height: 176px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.error__sub-heading {
    font-size: 48px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 80px;
}
.gohome__button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 19px;

    max-width: 280px;
    padding: 18px 30px;
}
.button__white {
}
.button__arrow-white {
}